@model FIT5032A_1Final.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Info.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Info.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal_Info.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal_Info.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.R_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
