@model IEnumerable<FIT5032A_1Final.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("Show Calendar", "Calendar")|

 @Html.ActionLink("Update Profile", "Edit", "Employee_Info", new { id = ViewBag.EId }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Info.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personal_Info.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Info.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal_Info.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R_Status)
            </td>
            <td>
                @Html.ActionLink("Change Status", "Edit", "Reservations", new { id = item.R_Id }, null) |
                @Html.ActionLink("Details", "Details", "Reservations", new { id = item.R_Id }, null) @*|
                    @Html.ActionLink("Delete", "Delete", "Reservations",new { id = item.R_Id },null)*@
            </td>
        </tr>
    }

</table>
