@model IEnumerable<FIT5032A_1Final.Models.Health_Info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Update Profile", "Edit", "Personal_Info", new { id = ViewBag.PId }, null)|
    @Html.ActionLink("Location", "Index", "Locations")|
    @Html.ActionLink("Create Reservation", "Create", "Reservations")|
    @Html.ActionLink("Show Reservation Calendar", "PersonalCalendar", "Health_Info")|
    @Html.ActionLink("Show Reservation ", "Index", "Reservations")

</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Personal_Info.Fname)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Alchol_Consumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smoking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mood_Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Personal_Info.Fname)
                </td>*@
                <td>
                    @Html.DisplayFor( modelItem => item.Alchol_Consumption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Smoking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mood_Level)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Date.ToShortDateString())*@
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function() {
            $('.table').DataTable();
        });
    </script>
}
